In [30]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

dtype = {
    'id': np.int8,
    'qid1': np.int8,
    'qid2': np.int8,
    'question1': np.str,
    'question2': np.str,
    'is_duplicate': np.int8
}
train = pd.read_csv('/input/Kaggle/Quora/train.csv', dtype=dtype)
print(train.shape)
train.dropna(inplace=True)
print(train.shape)

(404290, 6)
(404288, 6)

In [2]:
dtype = {
    'test_id': np.int8,
    'question1': np.str,
    'question2': np.str
}
test = pd.read_csv('/input/Kaggle/Quora/test.csv', dtype=dtype)
print( (test.isnull()).sum().sum() )
test.replace(np.nan, '', inplace=True)
print( (test.isnull()).sum().sum() )

6
0

In [297]:
train.head(1)

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0

# 数据清洗

In [31]:
# 必要的
def lower(q):
    return q.lower()

train['question1_refine'] = train['question1'].apply(lower)
train['question2_refine'] = train['question2'].apply(lower)

train.head(1)

,id,qid1,qid2,question1,question2,is_duplicate,question1_refine,question2_refine
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...

In [14]:
# 结果验证这个不好，但从逻辑上，不好理解。可能是由于这样把很多的表单符号单独出来了，不过后面排除掉，还是效果欠佳
import re

pattern1 = re.compile(r'(?<=\w)([\?\.,\)])')
pattern2 = re.compile(r'([\(])(?=\w)')

def fill_blank(matched):
    return ' {} '.format(matched.group(1))

def leave_blank(q):
    q = re.sub(pattern1, fill_blank, q)
    q = re.sub(pattern2, fill_blank, q)
    return q

train['question1_refine'] = train['question1_refine'].apply(leave_blank)
train['question2_refine'] = train['question2_refine'].apply(leave_blank)

train.head(1)

,id,qid1,qid2,question1,question2,is_duplicate,question1_refine,question2_refine,q1_len,q2_len,q1_set_len,q2_set_len,common_len,common_ratio
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,14.0,12.0,12.0,11.0,10.0,0.833333

In [25]:
# 经过测试，这个效果也不好
import re

remove_mark_pattern = re.compile(r'\W')
def remove_mark(q):
    return re.sub(remove_mark_pattern, ' ', q)

train['question1_refine'] = train['question1_refine'].apply(remove_mark)
train['question2_refine'] = train['question2_refine'].apply(remove_mark)

train.head(1)

,id,qid1,qid2,question1,question2,is_duplicate,question1_refine,question2_refine,q1_len,q2_len,q1_set_len,q2_set_len,common_len,common_ratio
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,14.0,12.0,12.0,11.0,10.0,0.833333

In [17]:
# 尝试过，结果还是不尽如人意
def replace(q, replacements=()):
    for f,t in replacements:
        q = q.replace(f, t)
    return q

replacements = (("'s", ''), ('"', ''), ("/", ' '), ("'m", ' am'), ("'ve", ' have'), ("'ll", ' will'))
train['question1_refine'] = train['question1_refine'].apply(replace, replacements=replacements)
train['question2_refine'] = train['question2_refine'].apply(replace, replacements=replacements)

train.head(1)

,id,qid1,qid2,question1,question2,is_duplicate,question1_refine,question2_refine,q1_len,q2_len,...,q1_start_with_can,q2_start_with_can,q1_start_with_should,q2_start_with_should,q1_start_with_will,q2_start_with_will,q1_start_with_is,q2_start_with_is,q1_start_with_do,q2_start_with_do
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,14.0,12.0,...,0,0,0,0,0,0,0,0,0,0

# Feature Engineering

```
STOPWORDS = set(('i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', 'her', 'hers', 'herself', 'it', 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', 'should', 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', 'couldn', 'didn', 'doesn', 'hadn', 'hasn', 'haven', 'isn', 'ma', 'mightn', 'mustn', 'needn', 'shan', 'shouldn', 'wasn', 'weren', 'won', 'wouldn'))
VOCAB_SET = set(word2vec.vocab.keys())
```

In [32]:
# 结果验证有效果
if False:
    train.drop(['q1_len', 'q2_len', 'q1_set_len', 'q2_set_len', 'common_len', 'common_ratio'],
              axis=1, inplace=True)
SMOOTH = 1

def word_count(row):
    q1_list = row['question1_refine'].split()
    q2_list = row['question2_refine'].split()
    
    q1_len = len(q1_list)
    q2_len = len(q2_list)
    
    # set
    q1_set = set(q1_list)
    q2_set = set(q2_list)
    common_set = q1_set.intersection(q2_set)
    
    q1_set_len = len(q1_set)
    q2_set_len = len(q2_set)
    common_len = len(common_set)
    common_ratio = (2 * common_len) / (q1_set_len + q2_set_len + SMOOTH)
    
    return Series(data=(q1_len, q2_len, q1_set_len, q2_set_len, common_len, common_ratio),
              index=['q1_len', 'q2_len', 'q1_set_len', 'q2_set_len', 'common_len', 'common_ratio'])

    # 后面的部分尝试效果欠佳，虽然逻辑上好像符合
#     q1_entity_set = (q1_set - STOPWORDS)#.intersection(VOCAB_SET)
#     q2_entity_set = (q2_set - STOPWORDS)#.intersection(VOCAB_SET)
#     q1_entity_set = q1_set.intersection(VOCAB_SET)
#     q2_entity_set = q2_set.intersection(VOCAB_SET)
#     entity_common_set = q1_entity_set.intersection(q2_entity_set)
    
#     # ns: non-stop
#     q1_entity_len = len(q1_entity_set)
#     q2_entity_len = len(q2_entity_set)
#     entity_common_len = len(entity_common_set)
#     entity_common_ratio = (2 * entity_common_len) / (q1_entity_len + q2_entity_len + SMOOTH)

#     return Series(data=(q1_len, q2_len, q1_set_len, q2_set_len, common_len, common_ratio,
#                         q1_entity_len, q2_entity_len, entity_common_len, entity_common_ratio),
#                   index=['q1_len', 'q2_len', 'q1_set_len', 'q2_set_len', 'common_len', 'common_ratio',
#                         'q1_entity_len', 'q2_entity_len', 'entity_common_len', 'entity_common_ratio'])

word_counts = train.apply(word_count, axis=1)
train = pd.concat([train, word_counts], axis=1)

train.head(1)

,id,qid1,qid2,question1,question2,is_duplicate,question1_refine,question2_refine,q1_len,q2_len,q1_set_len,q2_set_len,common_len,common_ratio
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,14.0,12.0,12.0,11.0,10.0,0.833333

In [7]:
# 经过验证，这个是有效果的
from nltk.util import ngrams
SMOOTH = 1

def ngrams_count(row, n=2, suffix=''):
    q1_ngrams = ngrams(row['question1_refine'].split(), n)
    q2_ngrams = ngrams(row['question2_refine'].split(), n)
    
    q1_ngram_set = set([' '.join(tup) for tup in q1_ngrams])
    q2_ngram_set = set([' '.join(tup) for tup in q2_ngrams])
    common_set = q1_ngram_set.intersection(q2_ngram_set)
    
    q1_len = len(q1_ngram_set)
    q2_len = len(q2_ngram_set)
    common_len = len(common_set)
    common_ratio = (2 * common_len) / (q1_len + q2_len + SMOOTH)
    
    return Series(data=(common_len, common_ratio),
              index=['common_len'+suffix, 'common_ratio'+suffix])

In [8]:
grams_2 = train.apply(ngrams_count, axis=1, n=2, suffix='_2_grams')
train = pd.concat([train, grams_2], axis=1)

train.head(1)

,id,qid1,qid2,question1,question2,is_duplicate,question1_refine,question2_refine,q1_len,q2_len,q1_set_len,q2_set_len,common_len,common_ratio,common_len_2_grams,common_ratio_2_grams
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,14.0,12.0,12.0,11.0,10.0,0.833333,10.0,0.8

In [10]:
grams_3 = train.apply(ngrams_count, axis=1, n=3, suffix='_3_grams')
train = pd.concat([train, grams_3], axis=1)

train.head(1)

,id,qid1,qid2,question1,question2,is_duplicate,question1_refine,question2_refine,q1_len,q2_len,q1_set_len,q2_set_len,common_len,common_ratio,common_len_2_grams,common_ratio_2_grams,common_len_3_grams,common_ratio_3_grams
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,14.0,12.0,12.0,11.0,10.0,0.833333,10.0,0.8,9.0,0.782609

In [12]:
# 结果验证有效果
def start_with(q, symbols):
    s = q.split()
    return int(s[0] in symbols) if len(s) > 0 else 0

train['q1_start_with_what'] = train['question1_refine'].apply(start_with, symbols=('what', "what's"))
train['q2_start_with_what'] = train['question2_refine'].apply(start_with, symbols=('what', "what's"))

train['q1_start_with_how'] = train['question1_refine'].apply(start_with, symbols=('how'))
train['q2_start_with_how'] = train['question2_refine'].apply(start_with, symbols=('how'))

train['q1_start_with_why'] = train['question1_refine'].apply(start_with, symbols=('why'))
train['q2_start_with_why'] = train['question2_refine'].apply(start_with, symbols=('why'))

train['q1_start_with_who'] = train['question1_refine'].apply(start_with, symbols=('who'))
train['q2_start_with_who'] = train['question2_refine'].apply(start_with, symbols=('who'))

train['q1_start_with_where'] = train['question1_refine'].apply(start_with, symbols=('where'))
train['q2_start_with_where'] = train['question2_refine'].apply(start_with, symbols=('where'))

train['q1_start_with_when'] = train['question1_refine'].apply(start_with, symbols=('when'))
train['q2_start_with_when'] = train['question2_refine'].apply(start_with, symbols=('when'))

train['q1_start_with_which'] = train['question1_refine'].apply(start_with, symbols=('which'))
train['q2_start_with_which'] = train['question2_refine'].apply(start_with, symbols=('which'))

train['q1_start_with_can'] = train['question1_refine'].apply(start_with, symbols=('can', 'could'))
train['q2_start_with_can'] = train['question2_refine'].apply(start_with, symbols=('can', 'could'))

train['q1_start_with_should'] = train['question1_refine'].apply(start_with, symbols=('should'))
train['q2_start_with_should'] = train['question2_refine'].apply(start_with, symbols=('should'))

train['q1_start_with_will'] = train['question1_refine'].apply(start_with, symbols=('will', 'would'))
train['q2_start_with_will'] = train['question2_refine'].apply(start_with, symbols=('will', 'would'))

train['q1_start_with_is'] = train['question1_refine'].apply(start_with, symbols=('is', 'am', 'are'))
train['q2_start_with_is'] = train['question2_refine'].apply(start_with, symbols=('is', 'am', 'are'))

train['q1_start_with_do'] = train['question1_refine'].apply(start_with, symbols=('do', 'does', 'did'))
train['q2_start_with_do'] = train['question2_refine'].apply(start_with, symbols=('do', 'does', 'did'))

train.head(1)

,id,qid1,qid2,question1,question2,is_duplicate,question1_refine,question2_refine,q1_len,q2_len,...,q1_start_with_can,q2_start_with_can,q1_start_with_should,q2_start_with_should,q1_start_with_will,q2_start_with_will,q1_start_with_is,q2_start_with_is,q1_start_with_do,q2_start_with_do
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,14.0,12.0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# 最终验证没有效果
# train.drop(['q1_has_question_mark', 'q2_has_question_mark'], axis=1, inplace=True)

def has_symbol(q, symbol):
    return 1 if symbol in q else 0

train['q1_has_question_mark'] = train['question1_refine'].apply(has_symbol, symbol='?')
train['q2_has_question_mark'] = train['question2_refine'].apply(has_symbol, symbol='?')

train.head(1)

,id,qid1,qid2,question1,question2,is_duplicate,question1_refine,question2_refine,q1_len,q2_len,...,q1_start_with_should,q2_start_with_should,q1_start_with_will,q2_start_with_will,q1_start_with_is,q2_start_with_is,q1_start_with_do,q2_start_with_do,q1_has_question_mark,q2_has_question_mark
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,14.0,12.0,...,0,0,0,0,0,0,0,0,1,1

## 辅助Error Analysis

In [35]:
from gensim.models.word2vec import Word2Vec, KeyedVectors
word2vec = KeyedVectors.load_word2vec_format('/input/Kaggle/Word2Vec/GoogleNews-vectors-negative300.bin.gz', binary=True)

Using TensorFlow backend.

In [ ]:
unique_words = {}

for q in train['question1_refine']:
    s = q.split()
    for word in s:
        if word in unique_words:
            unique_words[word] += 1
        else:
            unique_words[word] = 1

for q in train['question2_refine']:
    s = q.split()
    for word in s:
        if word in unique_words:
            unique_words[word] += 1
        else:
            unique_words[word] = 1
            
unique_words_list = [ (v,k) for k,v in unique_words.items() ]
unique_words_list = sorted(unique_words_list, reverse=True)

rare_word_list = []

for freq, word in unique_words_list:
    if word not in word2vec.vocab:
        rare_word_list.append((freq, word))

In [396]:
unique_words_list[:500]

[(841173, '?'),
 (376550, 'the'),
 (311497, 'what'),
 (269535, 'is'),
 (220398, 'how'),
 (214430, 'i'),
 (211154, 'a'),
 (205263, 'to'),
 (196454, 'in'),
 (160811, 'do'),
 (159720, 'of'),
 (145692, 'are'),
 (133192, 'and'),
 (114003, 'can'),
 (104343, 'for'),
 (100283, ','),
 (88922, 'you'),
 (83681, 'why'),
 (71511, '.'),
 (70838, 'my'),
 (70363, 'best'),
 (68830, 'it'),
 (60447, 'on'),
 (56318, 'does'),
 (44005, 'or'),
 (43931, 'which'),
 (43722, 'be'),
 (43674, 'if'),
 (41670, 'some'),
 (40753, 'have'),
 (40365, 'that'),
 (39673, 'with'),
 (39476, 'get'),
 (38976, 'should'),
 (36899, 'an'),
 (35214, 'from'),
 (33872, 'your'),
 (28320, 'india'),
 (28173, 'will'),
 (26149, 'when'),
 (25969, 'people'),
 (25564, 'who'),
 (25444, 'like'),
 (24983, '('),
 (24964, 'at'),
 (24893, ')'),
 (24659, 'good'),
 (23531, 'would'),
 (23337, 'there'),
 (22593, 'as'),
 (21131, 'about'),
 (20332, 'not'),
 (20266, 'between'),
 (19177, 'one'),
 (18890, 'most'),
 (18254, 'we'),
 (18108, 'make'),
 (18035, 'way'),
 (17878, 'did'),
 (17854, 'quora'),
 (17294, 'where'),
 (17219, 'by'),
 (16851, 'any'),
 (16447, 'was'),
 (16342, 'me'),
 (15782, 'so'),
 (15318, 'life'),
 (15101, 'after'),
 (14808, 'this'),
 (14790, 'they'),
 (14492, 'money'),
 (14221, 'time'),
 (13689, 'know'),
 (13379, 'difference'),
 (13265, 'has'),
 (12981, 'learn'),
 (12704, 'am'),
 (12373, 'new'),
 (12342, "what's"),
 (12340, 'much'),
 (12316, 'use'),
 (11771, 'their'),
 (11477, 'think'),
 (11442, 'many'),
 (10906, 'all'),
 (10686, 'indian'),
 (10627, 'someone'),
 (10617, 'than'),
 (10566, 'ever'),
 (10542, 'more'),
 (10517, 'find'),
 (10434, 'work'),
 (10015, 'without'),
 (9910, 'become'),
 (9892, 'but'),
 (9679, 'start'),
 (9679, 'online'),
 (9650, 'trump'),
 (9611, 'other'),
 (9431, 'world'),
 (9351, 'out'),
 (9341, 'want'),
 (9303, 'first'),
 (9056, 'better'),
 (8674, 'mean'),
 (8630, 'job'),
 (8358, 'english'),
 (8214, 'into'),
 (8205, 'us'),
 (8050, 'year'),
 (8003, "don't"),
 (7979, 'feel'),
 (7844, 'could'),
 (7790, 'up'),
 (7771, 'love'),
 (7765, 'take'),
 (7720, 'possible'),
 (7554, '2016'),
 (7356, 'he'),
 (7356, 'day'),
 (7237, 'things'),
 (7215, 'questions'),
 (7113, 'go'),
 (7105, 'notes'),
 (6977, 'phone'),
 (6910, 'ways'),
 (6907, 'really'),
 (6900, 'were'),
 (6838, 'buy'),
 (6814, 'weight'),
 (6807, 'account'),
 (6806, 'engineering'),
 (6777, 'used'),
 (6715, 'donald'),
 (6657, '500'),
 (6589, 'person'),
 (6517, 'them'),
 (6428, '1000'),
 (6358, 'long'),
 (6285, 'girl'),
 (6282, 'number'),
 (6250, 'being'),
 (6215, 'improve'),
 (6193, "i'm"),
 (6158, 'google'),
 (6151, 'using'),
 (5983, '2'),
 (5980, 'need'),
 (5905, 'business'),
 (5844, 'facebook'),
 (5843, 'lose'),
 (5839, 'books'),
 (5837, 'language'),
 (5802, 'stop'),
 (5755, 'sex'),
 (5751, 'old'),
 (5750, 'her'),
 (5718, 'different'),
 (5713, 'movie'),
 (5689, 'thing'),
 (5666, 'his'),
 (5574, 'been'),
 (5508, 'black'),
 (5456, 'book'),
 (5449, 'now'),
 (5433, 'just'),
 (5409, 'compare'),
 (5408, 'war'),
 (5397, 'see'),
 (5369, 'years'),
 (5356, 'free'),
 (5333, 'going'),
 (5280, 'still'),
 (5218, 'question'),
 (5218, 'programming'),
 (5148, 'no'),
 (5130, '1'),
 (5127, '3'),
 (5077, 'instagram'),
 (5065, 'only'),
 (5062, 'had'),
 (5026, 'change'),
 (5022, 'happen'),
 (5021, 'its'),
 (5004, 'help'),
 (4989, 'before'),
 (4970, 'movies'),
 (4892, 'company'),
 (4880, 'app'),
 (4873, 'president'),
 (4794, 'prepare'),
 (4790, 'college'),
 (4709, 'women'),
 (4700, 'under'),
 (4699, 'examples'),
 (4688, 'android'),
 (4679, 'over'),
 (4621, 'real'),
 (4600, 'computer'),
 (4569, 'while'),
 (4534, '5'),
 (4521, 'ask'),
 (4520, 'rs'),
 (4509, 'live'),
 (4495, 'website'),
 (4452, 'iphone'),
 (4446, 'country'),
 (4436, 'back'),
 (4411, 'important'),
 (4408, 'system'),
 (4406, 'our'),
 (4390, 'data'),
 (4378, 'learning'),
 (4333, 'bad'),
 (4329, 'win'),
 (4283, 'she'),
 (4248, 'increase'),
 (4232, 'hillary'),
 (4221, 'through'),
 (4219, 'study'),
 (4203, 'same'),
 (4191, 'made'),
 (4153, 'top'),
 (4088, 'school'),
 (4073, 'clinton'),
 (4064, 'science'),
 (4011, 'read'),
 (4004, 'software'),
 (3990, 'earn'),
 (3979, 'during'),
 (3956, 'two'),
 (3952, 'card'),
 (3951, 'water'),
 (3837, '&'),
 (3829, '10'),
 (3818, 'student'),
 (3794, 'government'),
 (3781, "can't"),
 (3769, 'say'),
 (3763, 's'),
 (3758, 'exam'),
 (3747, 'mobile'),
 (3713, 'car'),
 (3699, 'give'),
 (3693, 'name'),
 (3675, 'energy'),
 (3672, 'anyone'),
 (3665, 'getting'),
 (3641, 'word'),
 (3607, 'university'),
 (3582, 'high'),
 (3571, 'men'),
 (3519, 'companies'),
 (3479, 'true'),
 (3444, 'com'),
 (3420, 'average'),
 (3411, 'then'),
 (3401, 'days'),
 (3384, 'doing'),
 (3367, 'come'),
 (3355, 'laptop'),
 (3353, 'right'),
 (3349, 'career'),
 (3341, 'home'),
 (3340, 'earth'),
 (3332, 'even'),
 (3322, 'hair'),
 (3297, 'china'),
 (3288, 'web'),
 (3274, 'interview'),
 (3272, '2017'),
 (3269, 'look'),
 (3263, 'tell'),
 (3254, 'own'),
 (3240, 'social'),
 (3235, 'video'),
 (3222, 'answer'),
 (3217, '4'),
 (3212, 'travel'),
 (3208, 'bank'),
 (3179, 'meaning'),
 (3171, 'write'),
 (3170, 'safe'),
 (3136, 'youtube'),
 (3124, 'guy'),
 (3121, 'usa'),
 (3120, 'watch'),
 (3112, 'him'),
 (3111, 'students'),
 (3103, 'friend'),
 (3091, 'friends'),
 (3086, 'password'),
 (3062, 'done'),
 (3057, 'cost'),
 (3050, 'rupee'),
 (3045, 'eat'),
 (3036, 'happens'),
 (3030, 'relationship'),
 (3016, 'place'),
 (3014, 'rid'),
 (3010, 'working'),
 (3008, 'experience'),
 (2995, 'very'),
 (2988, 'having'),
 (2973, 'pakistan'),
 (2970, "doesn't"),
 (2967, 'girls'),
 (2953, 'big'),
 (2945, 'u'),
 (2942, 'food'),
 (2934, 'tv'),
 (2928, 'man'),
 (2924, 'game'),
 (2887, 'play'),
 (2885, 'favorite'),
 (2874, 'human'),
 (2865, 'service'),
 (2865, 'countries'),
 (2860, 'major'),
 (2840, 'whatsapp'),
 (2834, 'employees'),
 (2828, 'future'),
 (2803, 'history'),
 (2799, 'off'),
 (2780, 'affect'),
 (2763, 'b'),
 (2747, 'download'),
 (2740, 'believe'),
 (2734, 'process'),
 (2709, 'myself'),
 (2707, 'tips'),
 (2702, 'skills'),
 (2699, 'too'),
 (2694, 'effects'),
 (2693, 'every'),
 (2692, 'exist'),
 (2688, 'engineer'),
 (2673, 'tech'),
 (2668, 'last'),
 (2668, 'age'),
 (2667, 'state'),
 (2654, 'next'),
 (2654, 'email'),
 (2652, 'against'),
 (2651, 'election'),
 (2650, 'great'),
 (2648, 'chinese'),
 (2645, 'body'),
 (2644, 'support'),
 (2633, 'test'),
 (2632, 'java'),
 (2629, 'create'),
 (2626, 'mechanical'),
 (2621, 'differences'),
 (2620, 'white'),
 (2619, 'marketing'),
 (2597, 'places'),
 (2595, 'makes'),
 (2567, 'got'),
 (2551, 'internet'),
 (2548, 'interesting'),
 (2542, 'class'),
 (2540, 'hard'),
 (2534, 'police'),
 (2523, 'making'),
 (2518, 'states'),
 (2502, 'visit'),
 (2496, 'united'),
 (2482, 'end'),
 (2467, 'these'),
 (2464, 'delhi'),
 (2462, 'worth'),
 (2462, 'windows'),
 (2458, 'music'),
 (2442, 'american'),
 (2440, 'pay'),
 (2437, 'god'),
 (2430, 'month'),
 (2427, 'keep'),
 (2426, 'power'),
 (2422, 'never'),
 (2420, 'market'),
 (2410, '6'),
 (2401, 'salary'),
 (2390, '7'),
 (2388, 'song'),
 (2383, 'each'),
 (2382, 'actually'),
 (2366, 'around'),
 (2357, 'control'),
 (2328, 'girlfriend'),
 (2322, 'course'),
 (2313, 'culture'),
 (2307, 'available'),
 (2304, 'answers'),
 (2288, 'considered'),
 (2288, 'always'),
 (2287, 'gmail'),
 (2274, 'fat'),
 (2272, 'something'),
 (2272, 'code'),
 (2268, 'series'),
 (2256, 'another'),
 (2251, 'looking'),
 (2250, 'hotel'),
 (2238, 'common'),
 (2233, 'economy'),
 (2228, 'months'),
 (2224, 'woman'),
 (2222, 'apply'),
 (2219, 'writing'),
 (2218, 'delete'),
 (2211, 'c'),
 (2207, 'america'),
 (2199, 'modi'),
 (2197, 'universities'),
 (2195, 'mind'),
 (2194, 'light'),
 (2192, 'die'),
 (2191, 'development'),
 (2175, 'site'),
 (2156, 'jobs'),
 (2152, "you've"),
 (2151, 'parents'),
 (2146, 'per'),
 (2142, 'mba'),
 (2138, 'happened'),
 (2124, 'such'),
 (2117, 'score'),
 (2111, 'deal'),
 (2101, 'idea'),
 (2091, 'problem'),
 (2088, 'services'),
 (2087, 'kind'),
 (2085, 'universe'),
 (2084, 'review'),
 (2076, 'behind'),
 (2072, 'speed'),
 (2072, 'build'),
 (2061, 'cat'),
 (2057, 'open'),
 (2054, 'hack'),
 (2051, 'worst'),
 (2050, 'type'),
 (2050, 'show'),
 (2038, 'songs'),
 (2038, 'purpose'),
 (2036, 'bangalore'),
 (2034, 'note'),
 (2028, 'able'),
 (2019, 'period'),
 (2019, 'list'),
 (2011, 'living'),
 (2010, 'presidential'),
 (2008, 'design'),
 (2008, 'because'),
 (2004, 'differ'),
 (2001, 'near'),
 (1998, 'reduce'),
 (1990, 'cause'),
 (1989, 'reason'),
 (1988, 'games'),
 (1982, 'education'),
 (1980, 'instead'),
 (1976, 'digital'),
 (1973, 'wrong'),
 (1971, 'today'),
 (1971, 'majors'),
 (1971, 'civil'),
 (1969, 'private'),
 (1966, 'date'),
 (1966, 'asked'),
 (1965, 'current'),
 (1964, 'run'),
 (1963, 'join'),
 (1957, 'seen'),
 (1954, 'height'),
 (1951, 'popular'),
 (1946, 'space'),
 (1941, 'family'),
 (1939, 'degree'),
 (1935, 'easily'),
 (1932, 'websites'),
 (1930, 'call'),
 (1926, 'management'),
 (1919, 'program'),
 (1911, 'technology'),
 (1903, 'traffic'),
 (1903, 'international'),
 (1903, '8'),
 (1893, 'law'),
 (1891, 'dark'),
 (1888, 'biggest'),
 (1886, 'apps'),
 (1885, 'hate'),
 (1883, 'facts'),
 (1881, 'sentence'),
 (1875, 'order'),
 (1874, 'pregnant'),
 (1872, 'sleep')]

In [397]:
rare_word_list[:500]

[(841173, '?'),
 (211154, 'a'),
 (205263, 'to'),
 (159720, 'of'),
 (133192, 'and'),
 (100283, ','),
 (71511, '.'),
 (24983, '('),
 (24893, ')'),
 (17854, 'quora'),
 (7554, '2016'),
 (6657, '500'),
 (6428, '1000'),
 (6193, "i'm"),
 (5077, 'instagram'),
 (3829, '10'),
 (3272, '2017'),
 (2840, 'whatsapp'),
 (1818, '2000'),
 (1613, '000'),
 (1597, 'snapchat'),
 (1590, '-'),
 (1419, '2015'),
 (1351, "someone's"),
 (1333, ':'),
 (1300, 'jio'),
 (1250, '"'),
 (1236, '20'),
 (1161, 'narendra'),
 (1156, '12'),
 (1103, 'nra'),
 (1076, '30'),
 (1057, '15'),
 (1037, '/'),
 (1025, "i've"),
 (995, '100'),
 (943, 'favourite'),
 (858, '16'),
 (857, 'upsc'),
 (856, 'pokémon'),
 (840, 'sbi'),
 (839, "trump's"),
 (778, '12th'),
 (773, '50'),
 (773, '"the'),
 (738, '18'),
 (726, 'spotify'),
 (709, '2014'),
 (696, 'work-life'),
 (669, '13'),
 (667, 'mind-blowing'),
 (658, 'tcs'),
 (655, 'and/or'),
 (644, '14'),
 (637, "india's"),
 (635, '25'),
 (625, 'mbbs'),
 (616, '11'),
 (612, 'cgl'),
 (601, 'c++?'),
 (600, 'kvpy'),
 (574, 'c++'),
 (566, 'cambodia'),
 (563, 'better:'),
 (547, '24'),
 (534, '17'),
 (523, 'gmat'),
 (507, '"i'),
 (497, 'mistry'),
 (488, "clinton's"),
 (480, "modi's"),
 (476, '21'),
 (458, '40'),
 (456, 'hill-station'),
 (456, 'ece'),
 (450, '15000'),
 (439, 'ibps'),
 (428, 'colour'),
 (423, 'redmi'),
 (421, 'iim'),
 (406, 'kejriwal'),
 (394, '2013'),
 (393, '10th'),
 (388, 'e-commerce'),
 (384, 'cgpa'),
 (382, 'ielts'),
 (374, 'centre'),
 (374, '15k'),
 (371, 'his/her'),
 (366, 'flipkart'),
 (360, 'wi-fi'),
 (358, 'what’s'),
 (353, '19'),
 (352, 'btech'),
 (343, 'bitcoin'),
 (339, 'paytm'),
 (337, 'accenture'),
 (333, 'elon'),
 (331, '200'),
 (330, 'demonetisation'),
 (327, 'india:'),
 (326, 'iits'),
 (326, 'arvind'),
 (325, '22'),
 (324, 'travelling'),
 (316, 'h1b'),
 (309, 'brexit'),
 (303, 'ps4'),
 (299, 'don’t'),
 (299, '23'),
 (298, 'arnab'),
 (294, 'manaphy'),
 (294, 'goswami'),
 (288, 'ek:'),
 (283, 'demonetize'),
 (282, '60'),
 (276, 'xiaomi'),
 (276, 'first-time'),
 (274, 'he/she'),
 (272, '₹500'),
 (268, 'upvotes'),
 (268, 'hadoop'),
 (264, 'enfield'),
 (263, '₹1000'),
 (260, '2012'),
 (257, 'officejet'),
 (256, 'grey'),
 (254, 'airprint'),
 (254, '4620'),
 (254, '2020'),
 (245, 'irctc'),
 (245, 'chhattisgarh'),
 (245, '2010'),
 (242, '"?'),
 (238, "person's"),
 (237, 'mahabharata'),
 (235, '11th'),
 (234, '300'),
 (232, 'iims'),
 (232, '32'),
 (232, '2018'),
 (230, 'c#?'),
 (229, '$1'),
 (228, 'ugc'),
 (220, 'obc'),
 (219, "earth's"),
 (219, '30k'),
 (218, 'quorans'),
 (214, '60000'),
 (214, '21st'),
 (211, 'wwii'),
 (210, 'manipal'),
 (210, '"why'),
 (209, 'bba'),
 (207, 'aiims'),
 (206, '9/11'),
 (204, 'isro'),
 (203, 'ncr'),
 (202, 'airbnb'),
 (202, '10k'),
 (201, '100%'),
 (198, '$100'),
 (197, '26'),
 (195, 'i’m'),
 (195, "government's"),
 (195, '28'),
 (194, '27'),
 (192, 'imei'),
 (191, 'ww1'),
 (187, 'mtech'),
 (186, 'at&t'),
 (183, 'toefl'),
 (182, 'lesser-known'),
 (182, '60k'),
 (181, 'balaji'),
 (180, "friend's"),
 (178, 'you"?'),
 (177, '50k'),
 (174, 'icse'),
 (174, 'bhopal'),
 (173, "quora's"),
 (172, 'you"'),
 (171, '35'),
 (171, '20s'),
 (171, ')?'),
 (170, '2011'),
 (167, 'demonetizing'),
 (167, 'c#'),
 (165, 'it’s'),
 (164, 'bengaluru'),
 (164, '"you'),
 (163, 'aadhaar'),
 (160, 'wechat'),
 (159, 'icici'),
 (158, '360'),
 (157, 'pilani'),
 (157, "google's"),
 (156, 'vlsi'),
 (156, "cities'"),
 (156, '2019'),
 (156, '10000'),
 (156, '"a'),
 (154, 'ipcc'),
 (153, 'mnc'),
 (153, '[math]'),
 (153, '150'),
 (152, 'iiit'),
 (151, '2-3'),
 (150, 'upvoted'),
 (150, 'minecraft'),
 (149, 'arduino'),
 (148, 'start-up'),
 (148, "obama's"),
 (147, '29'),
 (147, '25000'),
 (147, '2002'),
 (147, '..'),
 (146, 'cpec'),
 (146, '$10'),
 (144, 'zuckerberg'),
 (144, 'coursera'),
 (143, 'omegle'),
 (142, '90'),
 (141, 'ww3'),
 (141, 'deloitte'),
 (141, '"how'),
 (140, 'can’t'),
 (140, '99'),
 (140, '51'),
 (139, 'life:'),
 (139, 'adolf'),
 (139, '2008'),
 (138, '45'),
 (138, '30000'),
 (135, 'voldemort'),
 (135, "i'll"),
 (135, "china's"),
 (134, '350'),
 (134, '"what'),
 (133, 'vivekananda'),
 (133, 'aadhar'),
 (133, '70'),
 (133, '"needs'),
 (131, 'kapil'),
 (131, "country's"),
 (130, 'oneplus'),
 (129, 'shippuden'),
 (129, '[/math]'),
 (128, 'programme'),
 (128, 'lyft'),
 (128, 'e-mail'),
 (126, 'srm'),
 (126, 'snowden'),
 (126, "layman's"),
 (126, 'improvement"?'),
 (126, 'angularjs'),
 (126, '64'),
 (125, 'bitsat'),
 (125, '5000'),
 (125, '400'),
 (125, "'"),
 (124, 'trump’s'),
 (124, 'snapdeal'),
 (124, '1990'),
 (123, 'varanasi'),
 (122, '20k'),
 (121, 'kohli'),
 (121, 'cheque'),
 (121, 'amcat'),
 (120, 'pinterest'),
 (120, 'imessage'),
 (120, 'doesn’t'),
 (120, 'django'),
 (119, 'lumia'),
 (119, 'iisc'),
 (119, 'cancelled'),
 (118, 'ocd'),
 (118, "girl's"),
 (118, 'counselling'),
 (117, 'virat'),
 (117, 'fiitjee'),
 (117, 'defence'),
 (117, '80'),
 (116, 'little-known'),
 (116, 'bsnl'),
 (116, '90%'),
 (116, '$1000'),
 (115, 'year’s'),
 (115, 'courses:'),
 (115, '800'),
 (114, "'the"),
 (113, 'mca'),
 (113, 'gsoc'),
 (112, 't20'),
 (112, 'him/her'),
 (111, 'upvote'),
 (111, 'president-elect'),
 (111, 'bitcoins'),
 (111, 'aipmt'),
 (110, "newton's"),
 (110, 'correct:'),
 (110, '500/1000'),
 (109, 'clat'),
 (108, 'ratan'),
 (108, '04'),
 (107, '₹2000'),
 (107, 'ncert'),
 (107, 'learnt'),
 (107, '19th'),
 (106, '|'),
 (106, 'vladimir'),
 (106, '2007'),
 (105, 'indore'),
 (105, 'ex-girlfriend'),
 (105, 'advice:'),
 (104, 'long-term'),
 (104, 'delhi/ncr'),
 (103, 'micromax'),
 (103, 'dumbledore'),
 (103, 'dtu'),
 (103, "apple's"),
 (102, 'nagpur'),
 (101, 'iit-jee'),
 (100, 'ppf'),
 (100, 'behaviour'),
 (100, '"no'),
 (99, "venezuela's"),
 (99, 'mckinsey'),
 (99, 'front-end'),
 (98, 'self-esteem'),
 (98, 'non-fiction'),
 (98, "einstein's"),
 (98, '50000'),
 (97, 'quora:'),
 (97, 'ktm'),
 (96, 'são'),
 (96, '[/math]?'),
 (96, '1/2'),
 (95, 'youtuber'),
 (95, 'viber'),
 (95, 'uan'),
 (95, 'tyres'),
 (95, 'ndtv'),
 (95, "i'd"),
 (95, '"to'),
 (94, 'papua'),
 (94, 'ccna'),
 (94, 'bcom'),
 (94, '20000'),
 (93, 'llb'),
 (93, 'j7'),
 (93, 'dasht-e'),
 (93, 'capgemini'),
 (92, 'kitkat'),
 (92, 'bca'),
 (91, 'urjit'),
 (91, 'is/are'),
 (91, 'coimbatore'),
 (91, '52'),
 (90, 'tomé'),
 (90, 'príncipe'),
 (90, '.?'),
 (90, '$500'),
 (90, '"needing'),
 (89, '”'),
 (89, 'you’re'),
 (89, 'lpa'),
 (89, "girlfriend's"),
 (89, "company's"),
 (89, '50%'),
 (89, '48'),
 (89, '31'),
 (89, '20th'),
 (88, 't-shirts'),
 (88, 'guatemala'),
 (87, 'zenfone'),
 (87, 'rna'),
 (87, 'nikola'),
 (87, 'jayalalitha'),
 (87, 'cut-off'),
 (87, 'centres'),
 (87, 'actor/actress'),
 (87, '250'),
 (87, '"my'),
 (86, 'youtubers'),
 (86, 'xat'),
 (86, 'patanjali'),
 (86, 'kmc'),
 (86, 'colours'),
 (86, '()'),
 (85, 'yahoo!'),
 (85, 'labour'),
 (85, '3000'),
 (85, '"in'),
 (85, '"if'),
 (84, 'sonoran'),
 (84, 'hiroshima'),
 (84, 'designjet'),
 (83, 'intj'),
 (83, 'dangal'),
 (83, '75'),
 (83, '55'),
 (83, '40000'),
 (82, 'udemy'),
 (82, 'sheldon'),
 (81, 'vellore'),
 (81, 'mysore'),
 (81, 'bhagat'),
 (81, '180'),
 (81, '1080p'),
 (81, '10%'),
 (80, "wife's"),
 (80, 'question:'),
 (80, "phone's"),
 (80, 'otg'),
 (80, "father's"),
 (80, '120'),
 (80, '100k'),
 (80, '--'),
 (79, 'wbjee'),
 (79, "rubik's"),
 (79, 'non-profit'),
 (79, "america's"),
 (79, '"i\'m'),
 (78, 'spacex'),
 (78, 'part-time'),
 (78, 'improvement"'),
 (78, "california's"),
 (78, '160'),
 (78, "'s"),
 (77, 'you’ve'),
 (77, "writer's"),
 (77, 'wars:'),
 (77, 't-shirt'),
 (77, 'selfie'),
 (77, 'organisation'),
 (77, 'high-end'),
 (77, 'all-time'),
 (76, "mcdonald's"),
 (76, 'kaif'),
 (76, 'jquery'),
 (76, '36'),
 (76, '2004'),
 (75, 'space-time'),
 (75, 'rukh'),
 (75, 'ramayana'),
 (75, 'full-time'),
 (75, "asperger's"),
 (74, 'melania'),
 (74, 'bhubaneswar'),
 (74, 'banglore'),
 (73, "facebook's"),
 (72, 'sa1'),
 (72, 'raghuram'),
 (72, 'nsit'),
 (72, 'granville'),
 (72, 'blockchain'),
 (72, 'ambani'),
 (72, '3-4'),
 (71, 'realise'),
 (71, 'bhim'),
 (71, "amazon's"),
 (71, '220'),
 (70, 'theatre'),
 (70, 'relationships:'),
 (70, 'object-oriented'),
 (70, 'mongolia'),
 (70, "'empty'"),
 (70, '"thank'),
 (69, 'nagasaki'),
 (69, 'moocs'),
 (69, 'elitmus'),
 (69, '50ae'),
 (69, '25k'),
 (69, "20's"),
 (68, 'vishwanathan'),
 (68, 'psus'),
 (68, 'pgdm'),
 (68, 'miui'),
 (68, 'honours'),
 (67, 'ignou'),
 (67, '65'),
 (67, '33'),
 (66, 'mongodb'),
 (66, 'aleppo'),
 (66, '2006'),
 (66, '1tb'),
 (66, '00'),
 (66, '$50'),
 (65, 'oyo'),
 (65, 'ngc'),
 (65, 'must-read'),
 (65, 'laravel'),
 (65, 'gujarati'),
 (65, 'b1/b2'),
 (65, 'azhar'),
 (65, '40k'),
 (64, 'wharton'),
 (64, 'usmle'),
 (64, 'science:')]

# 训练模型

In [33]:
train.columns

Index(['id', 'qid1', 'qid2', 'question1', 'question2', 'is_duplicate',
       'question1_refine', 'question2_refine', 'q1_len', 'q2_len',
       'q1_set_len', 'q2_set_len', 'common_len', 'common_ratio'],
      dtype='object')

In [34]:
train.head(1)

,id,qid1,qid2,question1,question2,is_duplicate,question1_refine,question2_refine,q1_len,q2_len,q1_set_len,q2_set_len,common_len,common_ratio
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,14.0,12.0,12.0,11.0,10.0,0.833333

In [ ]:
import xgboost as xgb
# from sklearn.preprocessing import StandardScaler

X_all = train.drop(['id', 'qid1', 'qid2', 'question1', 'question2', 'is_duplicate' ,'question1_refine', 'question2_refine'], axis=1)
# X_all = StandardScaler().fit_transform(X_all)# doesn't work
y_all = train.is_duplicate

params = {
    'objective': 'binary:logistic',
    'eval_metric': 'logloss',
    # 自动设置的参数比简单自己调整的要效果好，这里没有做parameter tunning，因为这次实验的重点不在这
#     'eta': 0.02, # learning rate
#     'gamma': 0.01, # minimum loss reduction required to make a further partition on a leaf node of the tree
#     'max_depth': 16, #maximum depth of a tree
#     'min_child_weight': 1, #minimum sum of instance weight (hessian) needed in a child.
#     'silent': 0, #0 means printing running messages, 1 means silent mode.
}

dtrain = xgb.DMatrix(X_all, label=y_all)

# 等待early stopping
history = xgb.cv(params, dtrain, num_boost_round=1024, early_stopping_rounds=5, verbose_eval=20)
print(history.loc[history.shape[0]-1, ['test-logloss-mean', 'train-logloss-mean']])

# Trial 1
# init 0.492954	
# 符号分割: 0.508782 bad
# 去掉符号: 0.514202 even bad
# 2 grams: 0.502062 good
# 3 grams: 0.499647 good

# Trial 2
# init 0.492954
# 2 gram, 0.482699 good
# 3 gram,0.480798 good
# Start with: 0.444659 quite good
# question_mark，bad

# Trial 3
# init, replace, 0.494482, bad, compared with Trial 1/2

# Trial 4 
# init, remove_mark: 0.514202, quite bad

In [ ]:
booster = xgb.train(params, dtrain)
xgb.plot_importance(booster=booster)

In [ ]:
xgb.plot_tree(booster=booster)

In [ ]:
xgb.to_graphviz(booster=booster)